
body{
  background-color: black;
  color: white;
}

div.cool{
  border-style: solid;
  border-color: white;
  border-width: thin;
  position:fixed;
  top: 50%;
  left: 50%;
  width:20em;
  height:10em;
  margin-top: -5em; /*set to a negative number 1/2 of your height*/
  margin-left: -10em; /*set to a negative number 1/2 of your width*/

}
.cool:hover {
    background: url(https://secure.static.tumblr.com/fa39e63b00ee26c1121c13950d3641ac/otxllrl/X0tninj3l/tumblr_static_tumblr_static_4zsnd9d8oloo8osows8ow8w0g_640.gif);
}
p{
  font-style: italic;
  font-family: "Comic Sans MS";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 50%;
  margin-top: -15px;
  text-align: center;
}
